body 
{
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
form 
{
    width: 200px;
     height: 600px;
    background: rgba(232, 135, 187, 0.5);
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
::placeholder
    {
    color: rgb(235, 160, 210);
    font-size: 14px;
    }
h2
    {
    color: rgb(11, 11, 11);
    text-align:center;
    margin-bottom: 30px;
    } 
input
{
    width: 90%;
    padding: 7px;
    margin: 3px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;

     
}
button 
{
    font-weight: bold;
    margin: 10px 0;
    width: 50%;
    padding: 5px;
    background-color: #e86a9c;
    border-radius: 7px;
    color: rgb(5, 5, 5);
    font-size: 15px;
    font:bolder;
    cursor: pointer;
    border: 0px;
    position: relative; 
    left: 45px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
p
{
    color: rgb(235, 160, 210);;
    font-weight: bold;
    padding: 10px;
    border: 1px solid rgb(220, 13, 141);
    border-radius: 5px;
    margin-top: 10px;
    display: none;
} 
